.DS_Store
/node_modules
/dist
/coverage

# testing related files
/tests/e2e/videos/
/tests/e2e/screenshots/
/serviceAccount.js

# local env files
.env
.env.local
.env.*.local

# rules
/firestore.rules
/storage.rules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
