// Fonts

@font-face {
	font-family: "MarkFF Pro";
	src: url("~@/assets/fonts/MarkPro.otf") format("opentype");
	font-weight: 500;
}
@font-face {
	font-family: "MarkFF Pro bold";
	src: url("~@/assets/fonts/MarkPro-Bold.otf") format("opentype");
}

$font-set--app: "MarkFF Pro",  sans-serif;
$font-set--app-bold: "MarkFF Pro bold",  sans-serif;
$font-set--mono: "Roboto Mono", "Andale-mono", "Menlo", "Consolas", "Courier New", monospace;

////////////////////////////////////////////////////////////////////////////////
// Application fonts

$app-font--base: $font-set--app;
$app-font--title: $font-set--app-bold;
$app-font--handle: $font-set--app;
$app-font--link: $font-set--app;
$app-font--button: $font-set--app-bold;
$app-font--input: $font-set--app;
$app-font--label: $font-set--app;
$app-font--placeholder: $font-set--mono;
$app-font--feedback: $font-set--app;
$app-font--list: $font-set--app;
$app-font--tag: $font-set--app;
$app-font--nav: $font-set--app;
$app-font--numbers: $font-set--app-bold;